<header>
    <nav>
        <div class="nav-brand">
            <a href="#">
                <span>Onyx Hotels</span>
            </a>
        </div>
        <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/rooms">Rooms & Suites</a></li>
            <li><a href="/facilities">Facilities </a></li>
            <li><a href="/booking">Book Now</a></li>
            <li><a href="/login">Log In</a></li>

        </ul>
    </nav>
</header>