<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body class="loginpage">
        <%- include('partials/header') %>

            <main class="notfound">
                <img src="/images/404.svg" alt="404 Error: Page Not Found">
                <div class="text">
                    <p>We're sorry, but the page you're looking for cannot be found.</p>
                    <p>Please check the URL in your browser's address bar to make sure it's spelled correctly, or try
                        one of
                        the links in the nav menu:</p>
                </div>
            </main>

            <footer>
                <p>© 2023 Booking Website. All rights reserved.</p>
            </footer>

    </body>

</html>