<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main>
                <section class="hero">
                    <h1>Welcome to Onyx Hotels</h1>
                    <p>Book your next adventure today!</p>
                </section>

                <section class="gallery">
                    <h2>Popular Destinations</h2>
                    <div class="image-grid">

                        <div class="container">
                            <img src="https://source.unsplash.com/s3tUdz9oNro/800x600" alt="Destination 1">
                            <div class="overlay">
                                <div class="text">France</div>
                            </div>
                        </div>
                        <div class="container">
                            <img src="https://source.unsplash.com/Fpqx6GGXfXs/800x600" alt="Destination 2">
                            <div class="overlay">
                                <div class="text">Canada</div>
                            </div>
                        </div>
                        <div class="container">
                            <img src="https://source.unsplash.com/wj04lopFFSE/800x600" alt="Destination 3">
                            <div class="overlay">
                                <div class="text">Germany</div>
                            </div>
                        </div>
                        <div class="container">
                            <img src="https://source.unsplash.com/WYqYPAnBs70/800x600" alt="Destination 4">
                            <div class="overlay">
                                <div class="text">South Africa</div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="tobooking">
                    <a href="/booking" class="booking-button">Book Now!</a>
                </section>
            </main>

            <footer>
                <p>© 2023 Booking Website. All rights reserved.</p>
            </footer>

            <!-- <script src="main.js"></script> -->
    </body>

</html>