<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

            <main class="rooms">
                <section class="room-type">
                    <img src="https://source.unsplash.com/oxeCZrodz78/800x800" alt="Standard Room">
                    <div>
                        <h2>Standard Room</h2>
                        <p>Our standard rooms are perfect for budget-conscious travelers who still want to enjoy the
                            comfort
                            and convenience of staying at the Onyx Hotel.</p>
                        <p class="price">Starting at $100/night</p>
                    </div>
                </section>

                <section class="room-type">
                    <img src="https://www.jbdukehotel.com/getmedia/860c198c-4bd8-47e2-8b2b-a500733d9f74/Superior-King-1.jpg?&width=679&height=453"
                        alt="Deluxe Room">
                    <div>
                        <h2>Deluxe Room</h2>
                        <p>Our deluxe rooms offer a little more luxury and space, with upgraded amenities and a
                            king-size
                            bed.</p>
                        <p class="price">Starting at $150/night</p>
                    </div>
                </section>

                <section class="room-type">
                    <img src="https://www.princehotels.com/furano/wp-content/uploads/sites/11/2019/06/Family-Room-Furano-Prince-Hotel-1.jpg"
                        alt="Family Room">
                    <div>
                        <h2>Family Room</h2>
                        <p>Our family rooms are designed to comfortably accommodate a family of four, with one double
                            bed, two single beds
                            and plenty of space to relax and play.</p>
                        <p class="price">Starting at $200/night</p>
                    </div>
                </section>

                <section class="room-type">
                    <img src="https://www.travelandleisure.com/thmb/w5nJuPvqKlvAbf6sAvi7vyK4c_w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/rosewood-carlyle-presidential-suite-LUXESUITE0122-0046808a88924e57922d78c7f1d9ca60.jpg"
                        alt="Suite">
                    <div>
                        <h2>Suite</h2>
                        <p>Our suites are the ultimate in luxury and comfort, featuring a separate bedroom and living
                            area,
                            a spa tub, and stunning views of the city skyline.</p>
                        <p class="price">Starting at $300/night</p>
                    </div>
                </section>
            </main>

            <footer>
                <p>© 2023 Booking Website. All rights reserved.</p>
            </footer>

            <!-- <script src="main.js"></script> -->
    </body>

</html>